%h2 アイテムの編集
= form_with model: @work, local: true do |f|
  %p
    = f.label :name, "作品名："
    = f.text_field :name
  
  %p
    = f.label :category, "カテゴリー："
    = f.select :category, [["Webデザイン", 0],["DTPデザイン", 1],["プログラミング", 2],["その他",3]]

  %p
    = f.label :image, "画像："
    = f.file_field :image

  %p
    = f.label :description, "作品の説明:"
    = f.text_area :description

  %p
    = f.label :time, "制作時間："
    = f.text_field :time

  %p
    = f.label :softwear, "使用ソフト："
    = f.text_field :softwear
  
  %p
    = f.label :date, "制作時期："
    = f.text_field :date

  %button=f.submit
