.container-fluid.no-gutter
  .row.d-flex.justify-content-end.col-11
    %p.select-guide カテゴリーを選択：
    = form_with url: works_path, local: true, method: :get do
      = check_box_tag "all_category", value = 0, checked = true, options = {id: "category_all" }
      = label_tag "category_all", "All"

      - @categories.each do |cat|
        = check_box_tag "category[id][]", value = cat.id, checked = false, options = {id: "category#{cat.id}", multiple: true}
        = label_tag "category#{cat.id}", cat.name
    
      = submit_tag("絞り込み")
      

    -# = form_tag works_path, method: :get, class: "search__form" do
    -#   = select_tag :category_id, options_from_collection_for_select( Category.all, :id, :name, params[:category_id]), { prompt: "All", class: "minimal", onchange: "submit(this.form);"}
  %hr
  .row.d-flex.my-5.justify-content-center
    %main.works#works.col.col-md-10
      - @works.each do |work|
        = link_to work_path(work.id), class: 'works__frame' do
          = image_tag work.images[0].url, alt: "#{work.name}", class: "works__img", data: {id: work.id }, width: 300

  #modal-outer.modal-outer
    .modal-window.col-10.p-5
      #modal-close-btn.modal-close-btn=fa_icon 'times'
      #modal
  .text-center
    - if current_user && current_user.admin?
      = link_to "作品投稿ページへ", new_admin_work_path
