%main.work.row
  %figure.work__l.col-sm-6.overflow-scroll
    = image_tag @work.image.url, class: 'work__img w-100 img-fluid'
  
  .work__info.col-sm-6
    %h3.work__info__title= @work.name
    %p.work__info__category
      カテゴリー：
      %span= @work.category

    %p.work__info__softwear
      使用ソフト：
      %span= @work.softwear

    %p.work__info__time
      制作時間：
      %span= @work.time

    %p.work__info__description= @work.description

    %p.work__info__date
      制作時期：
      %span
        = @work.date.year
        年
        = @work.date.month
        月
