= form_with model: [ :admin, @work ], local: true do |f|
  %p.form-group
    = f.label :name, "作品名："
    = f.text_field :name, class: 'form-control'
  
  %p.form-group
    = f.label :category, "カテゴリー："
    = f.select :category, Work.categories_i18n.keys.map{|k| [I18n.t("enum.work.category.#{k}"), k]}

  %p.form-group
    = f.label :images, "画像："
    = f.file_field :images, multiple: true

  %p.form-group
    = f.label :description, "作品の説明:"
    = f.text_area :description, class: 'form-control'

  %p.form-group
    = f.label :url, "作品・関連URL："
    = f.text_field :url

  %p.form-group
    = f.label :time, "制作時間："
    = f.text_field :time

  %p.form-group
    = f.label :language, "使用言語："
    = f.text_field :language

  %p.form-group
    = f.label :softwear, "使用ソフト等："
    = f.text_field :softwear
  
  %p.form-group
    = f.label :date, "制作時期："
    = f.text_field :date

  %p.form-group
    = f.label :date, "制作時期："
    = f.text_field :date

  %p.form-group
    = f.label :recomend, "トップスライダーに表示："
    = f.check_box :recomend , {class: "check_box"}, true, false

  =f.submit class: "btn btn-primary"
